<%= form_for ([@post, @post.comments.build]) do |f| %>
<div class="field">
    <%= f.label :Reply_To_Thread %><br>
    <%= f.text_field :content %>
  </div>
  <br />
<%= f.button :submit, class: 'button' %>
<% end %>